* {
    color: white;
    box-sizing: border-box;
}
body {
    background: linear-gradient(177.9deg, rgb(58, 62, 88) 3.6%, rgb(119, 127, 148) 105.8%);
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient( 111.4deg,  rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58% );
    color: transparent;
    -webkit-background-clip: text;
    font-style: italic;
}

nav {
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
   margin-left: 20px;
   margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: red;
}

#w-text {
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

#text-image{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

#subheading {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#first-pic {
    max-width: 18%;
    max-height: fit-content;
}

h4 {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    font-style: italic;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.project-names {
    font-size: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.project-names:hover {
    background-color: black;
}

.summary {
    text-align: center;
    margin-top: -30px;
}

.project-photos {
    max-width: 50%;
    height: auto;
}